.idea
OnlineMetronomeREST/node_modules
OnlineMetronomeREST/jspm_packages
OnlineMetronomeREST/npm-debug.*
OnlineMetronomeREST/link-checker-results.txt
OnlineMetronomeREST/app/**/*.js
OnlineMetronomeREST/*.js.map
OnlineMetronomeREST/e2e/**/*.js
OnlineMetronomeREST/e2e/**/*.js.map
OnlineMetronomeREST/_test-output
OnlineMetronomeREST/_temp
OnlineMetronomeREST/wwwroot/dist


# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
