h1 {
  color: #369;
  font-size: 250%;
}

.list-group-item {
  display:inline-block;
  margin:5px;
  text-align:center;
  width:120px;
  padding:20px;
}


body {
  text-align:center;
  padding:100px;
  font-family: 'El Messiri', sans-serif;

}

.form-group {
  margin:8px;
}
.add-measures input {
  width:30%;
  display:inline-block;
  margin: 5px 0px;
}

.load-measures input {
  width:80%;
  display:inline-block;
  margin: 5px 0px;
}
