<h1>Angular 4 Javascript Metronome</h1>
<div class="row">        
    <button class="btn btn-default" (click)="startPlaying(0)">Play All Measures</button>
    <button class="btn btn-default" (click)="printStuff()">Print the list</button>
    <button class="btn btn-default" (click)="goingDown(50, 25)">Go down to 50</button>
    <div style = "text-align:left" id="tempoBox">Tempo:{{tempo}} BPM 
        <input [(ngModel)]="tempo" type="range" min="30.0" max="160.0" step="1" style="height: 20px; width: 200px" (mousemove)="globalVars.setTempo(tempo)">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group add-measures">
            <input class="form-control input-lg" type="number" #topNumber />
            <input class="form-control input-lg" type="number" #bottomNumber />
            <button class="btn btn-default btn-lg" (click)="addMeasure(topNumber.value, bottomNumber.value)">Add Measure</button>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3>Available measures</h3>
            </div>
            <div class="panel-body" dnd-sortable-container [sortableData]="listMeasures" [dropZones]="['boxers-zone']">
                <ul class="list-group" >
                <li *ngFor="let item of listMeasures; let i = index" class="list-group-item" [dragEnabled]="true" [dragData]="item" dnd-sortable [sortableIndex]="i">{{item.top}} / {{item.bottom}}</li>           
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group load-measures">
            <button class="btn btn-default btn-lg" (click)="loadMeasures(HTTPAddress.value)">Load Measures</button>
            <input class="form-control input-lg" #HTTPAddress />
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>The Piece</h3>
            </div>
            <div class="panel-body" dnd-droppable (onDropSuccess)="add($event)" [dropZones]="['boxers-zone']" >
                <div dnd-sortable-container [sortableData]="measures">
                    <div class="list-group">
                        <div id ="{{measure.isPlaying}}" *ngFor="let measure of measures; let i = index" appDbclick dnd-sortable [sortableIndex]="i" class="list-group-item">{{measure.top}} / {{measure.bottom}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>